body {
    /* max-width: 750px; */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* for navigation */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #f1f1f1;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 1em;
}

#horizontal-underline {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 3px;
    transition: 0.5s;
    background-color: dodgerblue;
}

section {
    border: #f1f1f1 solid;
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-left: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    position: relative;
}

.introtext {
    position: absolute;
    top: 15%;
    left: 30px;
    font-size: 2em;
    color: white;
}

.introtrip {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2em;
    color: white;
}

.intromuse {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2em;
    color: white;
}

.airplane {
    position: absolute;
    top: 10%;
    left: 50px;
    width: 200px;
    height: 100px;
    /* animation: plane 5s; */
}

@keyframes plane {
    0% {
        top: 10%;
        left: 50px;
    }

    100% {
        top: 30%;
        left: 70%;
    }
}

@keyframes plane-revert {
    0% {
        top: 30%;
        left: 70%;
    }

    50% {
        top: 40%;
        left: 80%;
        visibility: hidden;
    }

    90% {
        top: 10%;
        left: 10px;
        visibility: hidden;
    }

    100% {
        top: 10%;
        left: 50px;
    }
}

/* code on monitor */
.laptop {
    position: relative;
}

.monitor {
    position: absolute;
    left: 20%;
    width: 500px;
    height: 320px;
    background-color: #444;
    border-radius: 10px;
    border: none;
}

.screen {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 480px;
    height: 300px;
    background-color: #EEE;
    border-radius: 10px;
    border: 1px solid #999;
}

.stand {
    position: absolute;
    top: 320px;
    left: 235px;
    width: 30px;
    height: 20px;
    background-color: #444;
}

.base {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 130px;
    height: 10px;
    background-color: #444;
    border-radius: 2px;
}

.wrapper {
    position: absolute;
    top: 50px;
    left: 5px;
    width: 470px;
    display: grid;
}

.intro #en {
    margin: 0;
    position: absolute;
    top: 18%;
    left: 42%;
    opacity: 0;
    animation: fadein 5s ease-in-out;
}

.intro #cn {
    margin: 0;
    position: absolute;
    top: 73%;
    left: 60%;
    opacity: 0;
    animation: fadein 5s ease-in-out 2s;
}

.intro #jp {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 15%;
    opacity: 0;
    animation: fadein 5s ease-in-out 3s;
}

.intro #kr {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 38%;
    opacity: 0;
    animation: fadein 5s ease-in-out 5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.typing-l1 {
    width: 31ch;
    opacity: 0;
    animation: typing 3s 10s steps(31) forwards, blink 0.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
}

.typing-l2 {
    width: 19ch;
    opacity: 0;
    animation: typing 2s 13s steps(19) forwards, blink 0.5s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
}

@keyframes typing {
    0% {
        width: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.slider {
    overflow: hidden;
}

.slider figure img {
    width: 25%;
    float: left;
}

.slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}